@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    /* fonts */
    --font1: 'League Spartan', sans-serif;
    /* colors */
    --primary: hsl(300, 43%, 22%);
    --subtitle: hsl(333, 80%, 67%);
    --paragraph: hsl(303, 10%, 53%);
    --ratingbg: hsl(300, 24%, 96%);
    --mainbg: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg-pattern-top-mobile.svg) no-repeat, url(../images/bg-pattern-bottom-mobile.svg) no-repeat right bottom -38vh, var(--mainbg);
    font-family: var(--font1);
    font-size: 15px;
}

.main {
    width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    text-align: center;
}

.main__info {
    padding: 50px 0;
    margin: 0 auto;
}

.main__title {
    padding: 25px;
    font-size: 2.5rem;
    line-height: .8;
    letter-spacing: -1px;
    color: var(--primary);
}

.main__paragraph {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--paragraph);
}

/* rating section */

.section__rating {
    display: grid;
    margin: 0 auto;
    width: 100%;
    gap: 20px;
}

.rating__container {
    display: flex;
    flex-direction: column;
    background-color: var(--ratingbg);
    justify-content: center;
    padding: 15px;
    gap: 15px;
}
.rating__stars {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.star__icon {
    width: 20px;
    height: 20px;
}

.rating__heading {
    font-size: 1.1rem;
    color: var(--primary);
}

/* testimonials section */

.section__testimonials {
    margin: 0 auto;
    display: grid;
    width: 100%;
    gap: 20px;
}

.testimonials__container {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 35px;
    color: var(--mainbg);
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonials__info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.testimonials__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
}

.avatar__img {
    width: 100%;
}


.info__title {
    font-size: 1rem;
    margin-bottom: 5px;
}

.info__paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: var(--subtitle);
}

.testimonials__paragraph {
    font-size: 1rem;
    line-height: 1.5;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {

    body {
        background: url(../images/bg-pattern-top-desktop.svg) no-repeat, url(../images/bg-pattern-bottom-desktop.svg) no-repeat right bottom -38vh, var(--mainbg);
    }

    .main {
        grid-template-areas: 
        "info rating"
        "testimonials testimonials"
        ;
        text-align: start;
        padding: 50px;
        margin: 0 auto;
        width: 90%;
        align-items: center;
        gap: 0 200px;
    }

    .main__info {
        grid-area: info;
    }

    .main__title {
        padding: 0;
        font-size: 4rem;
    }

    .main__paragraph {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .section__rating {
        grid-area: rating;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .rating__container {
        flex-direction: row;
        align-items: center;
        margin: 0 80px 0 0;
    }

    .rating__container:nth-child(2) {
        margin: 0 40px;
    }

    .rating__container:nth-child(3) {
        margin: 0 0 0 80px;
    }


    .section__testimonials {
        grid-template-columns: repeat(3, 1fr);
        grid-area: testimonials;
        gap: 30px;
    }
    
    .testimonials__container {
        margin: 0 0 40px 0;
    }

    .testimonials__container:nth-child(2) {
        margin: 20px 0;
    }

    .testimonials__container:nth-child(3) {
        margin: 40px 0 0 0;
    }


}